---
import { paguyuban } from "../../data/tentang-unsoed";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return paguyuban.map(
    ({ name, activity, category, description, galery, sosmed, logo }) => {
      return {
        params: { desc: name },
        props: {
          name,
          activity,
          category,
          description,
          galery,
          sosmed,
          logo,
        },
      };
    }
  );
}

const { name, activity, description, galery, sosmed, logo } = Astro.props;
---

<Layout
  title=`Paguyuban ${name}`
  addClass="bg-[url('/images/patterns/batik.svg')] bg-size"
>
  <section id="description" class="pt-24 pb-24 md:pt-36 section-padding-x">
    <div class="container max-w-screen-xl">
      <div
        class="flex gap-4 flex-col lg:flex-row justify-between lg:justify-around"
      >
        <div
          class="flex justify-center gap-4 max-w-lg items-center md:max-w-full lg:max-w-lg md:flex-row lg:flex-col"
        >
          <div class="max-w-md md:w-1/2 lg:w-full">
            <img
              src={logo}
              alt=`Logo Paguyuban ${name}`
              class="w-full"
            />
          </div>
          {
            galery ? (
              <div class="hidden md:block gap-4 md:w-1/2 lg:w-auto md:columns-2 lg:columns-3">
                {galery.map((src, index) => (
                  <img
                    src={src}
                    alt={`Galery Paguyuban ${name} ke-${index + 1}`}
                    class="img-modal mb-4 rounded-lg hover:shadow-sm transition-all duration-300 ring-1 hover:ring-2 ring-gray-400 hover:ring-blue-base transform hover:scale-105  hover:shadow-blue-base"
                  />
                ))}
              </div>
            ) : (
              ""
            )
          }
        </div>
        <!--  -->
        <article class="w-full md:max-w-full lg:max-w-lg">
          <!-- Organization Title -->
          <h1 class="font-heading font-bold capitalize sub-header-font-size mb-4">
            {name}
          </h1>
          <!-- Description -->
          <div class="text-justify mb-2">
            <h2 class="font-heading text-2xl md:text-3xl lg:text-4xl">
              Deskripsi
            </h2>
            <p
              class="normal-font-size font-body md:pe-16 lg:pe-0 text-pretty w-full"
            >
              {description}
            </p>
          </div>
          <!-- Activity Of Organization If It Exist -->
          {
            activity.length > 0 ? (
              <div class="mb-2">
                <h2 class="font-heading text-xl sm:text-2xl md:text-3xl lg:text-4xl">
                  Kegiatan
                </h2>
                <ul>
                  {activity.map((data) => (
                    <li class="normal-font-size font-body md:pe-16 lg:pe-0 list-disc ms-6">
                      {data}
                    </li>
                  ))}
                </ul>
              </div>
            ) : (
              ""
            )
          }
          <!-- Social Media -->
          {
            sosmed ? (
              <div class="mb-2">
                <h2 class="font-heading text-2xl md:text-3xl lg:text-4xl">Sosial Media</h2>
                <a class="text-dark-base text-6xl rounded-lg" href={sosmed}>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="hover:text-yellow-base hover:font-medium transition-all duration-300 inline-block w-10 h-10 md:w-14 md:h-14"
                    fill="currentColor"
                  >
                    <!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
                    <path
                      d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                    ></path>
                  </svg>
                </a>
              </div>
            ) : (
              ""
            )
          }
          
        </article>
        <div class="md:hidden">
          {
            galery ? (
              <>
                <h2 class="font-heading text-2xl md:text-3xl lg:text-4xl">
                  Galery
                </h2>
                <div class="md:hidden columns-1 w-full">
                  {galery.map((src, index) => (
                  <img
                    src={src}
                    alt={`Galery Paguyuban ${name} ke-${index + 1}`}
                    class="img-modal mb-4 rounded-lg hover:shadow-sm transition-all duration-300 ring-1 hover:ring-2 ring-gray-400 hover:ring-blue-base transform hover:scale-105  hover:shadow-blue-base"
                  />
                ))}
                </div>
              </>
            ) : (
              ""
            )
          }
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="hidden fixed inset-0 backdrop-blur-sm z-50" id="modal"></div>
  </section>
</Layout>
<script>
  const modalContainer = document.getElementById("modal") as HTMLDivElement;
  const modalImages = document.querySelectorAll<HTMLImageElement>(".img-modal");

  function removeModal() {
    modalContainer.innerHTML = "";
    modalContainer.classList.toggle("hidden");
  }

  function modalPopup(src: string): void {
    const modalCard = `
      <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <img src="${src}" alt="Gallery Paguyuban " class="max-w-xs md:max-w-lg lg:max-w-2xl rounded-xl max-h-[70vh]" />
        <button
          class="absolute -top-2 md:-top-4 -right-2 md:-right-4"
          id="removeModal"
        >
        <svg class="w-8 h-8 md:w-10 md:h-10 text-gray-900 bg-gray-400 hover:bg-gray-900 hover:text-gray-400 rounded-xl transition-all duration-200" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
        </button>
      </div>`;
    modalContainer.innerHTML += modalCard;
    modalContainer.classList.toggle("hidden");

    const btnModal = document.getElementById(
      "removeModal"
    ) as HTMLButtonElement;
    if (btnModal) {
      btnModal.addEventListener("click", () => removeModal());
    }
  }

  if (modalContainer && modalImages) {
    modalImages.forEach((e) => {
      e.addEventListener("click", () => modalPopup(e.src));
    });
  }
</script>
