---
import { paguyuban } from "../../data/tentang-unsoed";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Paguyuban Mahasiswa Daerah">
  <section id="hero" class="pt-28 bg-slate-300">
    <div class="w-full px-6 text-center py-12">
      <p class="text-sm md:text-base font-body">Lorem ipsum dolor sit amet.</p>
      <h1
        class="text-3xl lg:text-4xl font-heading font-normal text-dark-base drop-shadow-[0_0px_1px_rgba(0,0,0,0.6)] stroke-10 stroke-green-base"
      >
        PAGUYUBAN MAHASISWA DAERAH
      </h1>
      <a
        href="#cards"
        class="bg-yellow-base px-4 py-2 rounded-lg my-6 inline-block drop-shadow-sm text-base font-medium md:text-base font-body hover:drop-shadow-md"
      >
        Yuk mari kita lihat
        <i class="fa-solid fa-arrow-down mx-1"></i>
      </a>
    </div>
  </section>
  <!--  -->
  <section class="">
    <div class="flex justify-center w-full relative pt-12">
      <form
        method="get"
        id="search"
        class="bg-green-base mx-6 px-2 py-2 rounded-lg flex justify-center gap-2 absolute -top-7 lg:w-1/2"
      >
        <input
          type="text"
          name="searchName"
          id="searchName"
          placeholder="Cari ukm"
          class="w-full block rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
        <select
          id="category"
          name="category"
          class="bg-gray-50 border-2 border-gray-300 text-white-base text-sm rounded-lg 2-1/4 focus:ring-blue-500 focus:border-blue-500 block px-2 py-2 bg-transparent w-1/2"
        >
          <option selected value="" class="text-dark-base">kategori</option>
          <option value="sumatera" class="text-dark-base">Sumatera</option>
          <option value="kalimantan" class="text-dark-base">Kalimantan</option>
          <option value="jawa" class="text-dark-base">Jawa</option>
          <option value="sulawesi" class="text-dark-base">Sulawesi</option>
          <option value="papua" class="text-dark-base">Papua</option>
        </select>
      </form>
    </div>
    <!-- mapping cards-->
    <div
      id="cards"
      class="flex flex-wrap flex-1 md:flex-auto justify-center gap-4 pt-8 pb-12 lg:px-32"
    >
      <!-- card -->
      {
        paguyuban.map((e) => (
          <Card
            body="abc"
            href={`/paguyuban/` + e.name}
            title={e.name}
            img={e.logo}
          />
        ))
      }
      <!--  -->
    </div>
  </section>
</Layout>
<script>
  import { paguyuban } from "../../data/tentang-unsoed";
  const search = document.getElementById("search") as HTMLFormElement;
  const cards = document.getElementById("cards") as HTMLDivElement;

  document.addEventListener("DOMContentLoaded", () => {
    if (search) {
      search.addEventListener("input", (e) => {
        e.preventDefault();
        let data = new FormData(search);
        let searchName = data.get("searchName")?.toString().toLowerCase();
        let searchCategory = data.get("category")?.toString().toLowerCase();

        /* untuk membersihkan child cards */
        cards.innerHTML = "";

        /* 
          mengambil array ukm di filter apakah terdapat dalam input nama dan kategori 
          membuat array baru
        */
        let newData = paguyuban.filter((data) => {
          let nameMatches = searchName
            ? data.name.toLowerCase().includes(searchName)
            : true;
          let categoryMatches = searchCategory
            ? data.category.toLowerCase() === searchCategory
            : true;
          return nameMatches && categoryMatches;
        });

        newData.forEach((e) => {
          let cardText = `
        <div class="rounded-xl border border-slate-400 drop-shadow-md shadow w-36 md:w-52 lg:w-64">
          <a href="/ukm/${e.name}">
            <div class="w-36 md:w-52 lg:w-64">
              <img src=${e.logo} alt=${"logo ukm " + e.name}  class="w-full rounded-t-xl" />
            </div>
            <h5 class="px-2 pt-2 text-xl tracking-tight text-dark-base font-heading">
              ${e.name}
            </h5>
            <p class="px-2 pb-2 text-base text-dark-base font-body font-normal">
              ukm jenis ${e.category}
            </p>
          </a>
        </div>`;
          cards.innerHTML += cardText;
        });
      });
    }
  });
</script>
