---
import LayoutPenugasan from "../../layouts/LayoutPenugasan.astro";
import PenugasanCard from "../../components/Penugasan/PenugasanCard.astro";
import { mandiri } from "../../data/penugasan";
---

<LayoutPenugasan title="Penugasan SNBP & SNBT">
  <section id="penugasan" class="pt-32 bg-green-light">
    <div class="lg:flex lg:flex-col lg:items-center">
      <PenugasanCard
        img={mandiri[3].img}
        title={mandiri[3].title}
        nomor={mandiri[3].nomor}
        tugas={mandiri[3].tugas}
      />
      <PenugasanCard
        addClass="lg:flex-row-reverse"
        img={mandiri[2].img}
        title={mandiri[2].title}
        nomor={mandiri[2].nomor}
        tugas={mandiri[2].tugas}
      />
      <PenugasanCard
        img={mandiri[1].img}
        title={mandiri[1].title}
        nomor={mandiri[1].nomor}
        tugas={mandiri[1].tugas}
      />
      <PenugasanCard
        addClass="lg:flex-row-reverse"
        id="satu"
        img={mandiri[0].img}
        title={mandiri[0].title}
        nomor={mandiri[0].nomor}
        tugas={mandiri[0].tugas}
      />
    </div>
  </section>
  <!-- waves -->
  <svg
    width="100%"
    height="100%"
    id="svg"
    viewBox="0 0 1440 390"
    xmlns="http://www.w3.org/2000/svg"
    class="transition duration-300 ease-in-out delay-150"
    ><path
      d="M 0,400 L 0,150 C 83.89075918928205,137.84610099622125 167.7815183785641,125.69220199244248 236,143 C 304.2184816214359,160.30779800755752 356.7646856750257,207.0772930264514 414,222 C 471.2353143249743,236.9227069735486 533.1597389213329,219.99862590175198 596,203 C 658.8402610786671,186.00137409824802 722.5963586396427,168.9282033665407 785,170 C 847.4036413603573,171.0717966334593 908.454826520096,190.2885606320852 993,187 C 1077.545173479904,183.7114393679148 1185.5843352799725,157.9175541051185 1264,148 C 1342.4156647200275,138.0824458948815 1391.2078323600138,144.04122294744076 1440,150 L 1440,400 L 0,400 Z"
      stroke="none"
      stroke-width="0"
      fill="#7cc782"
      fill-opacity="1"
      class="transition-all duration-300 ease-in-out delay-150 path-0"
      transform="rotate(-180 720 200)"></path></svg
  >
  <!-- waves -->
  <section id="hero" class="py-32">
    <div
      class="flex justify-center items-center flex-col text-center px-6 md:px-4 lg:px-0"
    >
      <h1
        class="font-bold capitalize text-dark header-font-size mb-4 font-heading"
      >
        PENUGASAN
      </h1>
      <p class="font-medium normal-font-size text-secondary max-w-xl">
        Mereka adalah perjalanan dari kesunyian menjadi kebebasan, mengukir
        jejak keindahan di langit biru.
      </p>
      <a
        class="bg-yellow-base px-4 py-2 rounded-lg my-6 inline-block drop-shadow-sm text-base font-medium md:text-base font-body hover:drop-shadow-md"
        href="#satu"
      >
        Yuk mari kita lihat
        <i class="fa-solid fa-arrow-up mx-1"></i>
      </a>
    </div>
  </section>
</LayoutPenugasan>
