---
const email = ["hello@loopple.com", "unsoed@mhs.unsoed.ac.id"];
const phoneNumber = ["+516-486-5135", "+62 868-2343-1235"];
const address = [
  {
    loc: "10924 Urna Convallis",
    link: "https://goo.gl/maps/QcWzYETAh4FS3KTD7",
  },
  {
    loc: "Jl. Profesor DR. HR Boenyamin No.708",
    link: "https://goo.gl/maps/QcWzYETAh4FS3KTD7",
  },
];
---

<section
  id="reach-us"
  class="pt-32 pb-16 section-padding-x text-dark-base m-auto"
>
  <div class="container max-w-screen-xl">
    <div class="w-full px-4">
      <div class="max-w-xl mx-auto text-center mb-16">
        <h2
          class="font-bold capitalize text-dark header-font-size mb-4 font-heading"
        >
          Punya pertanyaan atau butuh bantuan?
        </h2>
      </div>
    </div>
    <div class="w-full px-4 flex gap-10">
      <div class="container flex flex-col mx-auto">
        <div
          class="grid w-full grid-cols-1 content-center gap-5 md:grid-cols-2 lg:grid-cols-3"
        >
          <div
            class="flex flex-col items-center gap-3 px-4 py-10 bg-white justify-center rounded-xl"
          >
            <i
              class="fa-solid fa-envelope text-4xl md:text-5xl text-yellow-base"
            ></i>
            <p class="text-xl md:text-2xl font-extrabold">Email</p>
            <p class="text-base leading-7">Contact us at</p>
            <div class="flex flex-col items-center gap-1">
              {
                email.map((mail, index) => (
                  <a
                    class="text-base md:text-lg  font-bold text-center hover:text-yellow-base transition duration-200"
                    href={`mailto: ${mail}`}
                  >
                    {mail}
                  </a>
                ))
              }
            </div>
          </div>
          <div
            class="flex flex-col items-center gap-3 px-4 justify-center bg-white py-10 rounded-xl"
          >
            <i class="fa-solid fa-phone text-4xl md:text-5xl text-yellow-base"
            ></i>
            <p class="text-xl md:text-2xl font-extrabold">Phone</p>
            <p class="text-base leading-7">Reach out to us by phone</p>
            {
              phoneNumber.map((number, index) => (
                <a
                  class="text-base md:text-lg  font-bold text-center hover:text-yellow-base transition duration-200"
                  href={`tel:${number}`}
                >
                  {number}
                </a>
              ))
            }
          </div>
          <div
            class="flex flex-col items-center gap-3 px-4 justify-center bg-white py-10 rounded-xl"
          >
            <i
              class="fa-solid fa-map-location-dot text-4xl md:text-5xl text-yellow-base"
            ></i>
            <p class="text-xl md:text-2xl font-extrabold">Location</p>
            <p class="text-base leading-7">Find us at our office</p>
            {
              address.map((data, index) => (
                <a
                  class="text-base md:text-lg  font-bold text-center hover:text-yellow-base transition duration-200"
                  target="_blank"
                  href={data.link}
                >
                  {data.loc}
                </a>
              ))
            }
          </div>
          <!--  -->
          <a href="https://www.instagram.com/batir_unsoed" target="_blank">
            <div
              class="flex flex-col items-center gap-3 px-4 justify-center bg-white py-10 rounded-xl"
            >
              <i
                class="fa-brands fa-square-instagram text-4xl md:text-5xl text-yellow-base"
              ></i>
              <p class="text-xl md:text-2xl font-extrabold">Batir Unsoed</p>
              <p class="text-base leading-7">Find us at our Instagram</p>
              <p class="text-base leading-7">@batir_unsoed</p>
            </div>
          </a>
          <!--  -->
          <!--  -->
          <a href="https://www.instagram.com/soedirmanstudentsummit" target="_blank">
            <div
              class="flex flex-col items-center gap-3 px-4 justify-center bg-white py-10 rounded-xl"
            >
              <i
                class="fa-brands fa-square-instagram text-4xl md:text-5xl text-yellow-base"
              ></i>
              <p class="text-xl md:text-2xl font-extrabold uppercase">soedirmanstudentsummit</p>
              <p class="text-base leading-7">Find us at our Instagram</p>
              <p class="text-base leading-7">@soedirmanstudentsummit</p>
            </div>
          </a>
          <!--  -->
          <!--  -->
          <a href="https://www.instagram.com/bem_unsoed" target="_blank">
            <div
              class="flex flex-col items-center gap-3 px-4 justify-center bg-white py-10 rounded-xl"
            >
              <i
                class="fa-brands fa-square-instagram text-4xl md:text-5xl text-yellow-base"
              ></i>
              <p class="text-xl md:text-2xl font-extrabold">BEM Unsoed</p>
              <p class="text-base leading-7">Find us at our Instagram</p>
              <p class="text-base leading-7">@bem_unsoed</p>
            </div>
          </a>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</section>
