---
const email = ["hello@loopple.com", "unsoed@mhs.unsoed.ac.id"];
const phoneNumber = ["+516-486-5135", "+62 868-2343-1235"];
const address = [
  {
    loc: "10924 Urna Convallis",
    link: "https://goo.gl/maps/QcWzYETAh4FS3KTD7",
  },
  {
    loc: "Jl. Profesor DR. HR Boenyamin No.708",
    link: "https://goo.gl/maps/QcWzYETAh4FS3KTD7",
  },
];
---

<section
  id="reach-us"
  class="pt-24 pb-16 section-padding-x text-dark-base m-auto"
>
  <div class="container max-w-screen-xl">
    <div class="w-full px-4">
      <div class="max-w-xl mx-auto text-center mb-16">
        <h2
          class="font-bold capitalize text-dark header-font-size mb-4 font-heading"
        >
          Punya pertanyaan atau butuh bantuan?
        </h2>
        <p class="font-medium normal-font-size text-secondary">
          Jangan ragu untuk chat dengan kami! Tim kami siap membantu kamu kapan
          saja melalui telepon, email, atau chat langsung. Yuk, hubungi kami dan
          rasakan layanan terbaik dari kami.
        </p>
      </div>
    </div>
    <div class="w-full px-4 flex gap-10">
      <div class="container flex flex-col mx-auto">
        <div
          class="grid w-full grid-cols-1 content-center gap-5 md:grid-cols-2 lg:grid-cols-3"
        >
          <div
            class="flex flex-col items-center gap-3 px-4 py-10 bg-white justify-center rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              class="w-10 md:w-12 text-yellow-base"
              fill="currentColor"
              ><!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
              <path
                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
              ></path></svg
            >
            <p class="text-xl md:text-2xl font-extrabold">Email</p>
            <p class="text-base leading-7">Contact us at</p>
            <div class="flex flex-col items-center gap-1">
              {
                email.map((mail, index) => (
                  <a
                    class="text-base md:text-lg  font-bold text-center hover:text-yellow-base transition duration-200"
                    href={`mailto: ${mail}`}
                  >
                    {mail}
                  </a>
                ))
              }
            </div>
          </div>
          <div
            class="flex flex-col items-center gap-3 px-4 justify-center bg-white py-10 rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              class="w-10 md:w-12 text-yellow-base"
              fill="currentColor"
              ><!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
              <path
                d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
              ></path></svg
            >
            <p class="text-xl md:text-2xl font-extrabold">Phone</p>
            <p class="text-base leading-7">Reach out to us by phone</p>
            {
              phoneNumber.map((number, index) => (
                <a
                  class="text-base md:text-lg  font-bold text-center hover:text-yellow-base transition duration-200"
                  href={`tel:${number}`}
                >
                  {number}
                </a>
              ))
            }
          </div>
          <div
            class="flex flex-col items-center gap-3 px-4 justify-center bg-white py-10 rounded-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
              class="w-10 md:w-12 text-yellow-base"
              fill="currentColor"
              ><!--! Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
              <path
                d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120zm8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4C558.9 123.4 576 135 576 152V422.8c0 9.8-6 18.6-15.1 22.3L416 503V200.4zM137.6 138.3c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6V451.8L32.9 502.7C17.1 509 0 497.4 0 480.4V209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77V504.3L192 449.4V255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0zM288 152a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"
              ></path></svg
            >
            <p class="text-xl md:text-2xl font-extrabold">Location</p>
            <p class="text-base leading-7">Find us at our office</p>
            {
              address.map((data, index) => (
                <a
                  class="text-base md:text-lg  font-bold text-center hover:text-yellow-base transition duration-200"
                  target="_blank"
                  href={data.link}
                >
                  {data.loc}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
