---
import { ukm } from "../../data/tentang-unsoed";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return ukm.map(
    ({ name, activity, category, description, galery, sosmed, logo }) => {
      return {
        params: { desc: name },
        props: {
          name,
          activity,
          category,
          description,
          galery,
          sosmed,
          logo,
        },
      };
    }
  );
}

const { name, activity, category, description, galery, sosmed, logo } =
  Astro.props;
---

<Layout title=`UKM ${name}`>
  <section id="description" class="py-32">
    <div
      class="flex gap-4 px-6 flex-col lg:flex-row items-center lg:justify-around w-full lg:px-32"
    >
      <div class="max-w-lg md:max-w-full">
        <div
          class="flex justify-center gap-4 max-w-lg items-center md:max-w-full lg:max-w-lg md:py-8 px-6 md:flex-row lg:flex-col"
        >
          <div class="max-w-md md:w-1/2 lg:w-full">
            <img src={logo} alt=`foto profile ukm ${name}` class="w-full" />
          </div>
          {
            galery ? (
              <div class="hidden md:py-4 md:flex flex-wrap gap-4 justify-center md:w-1/2 lg:w-auto">
                {galery.map((src) => (
                  <img
                    src={src}
                    alt="galery ukm"
                    class="img-modal max-w-36 lg:w-fit rounded-lg hover:shadow-sm hover:translate-y-2 transition-all ease-in-out duration-300 ring-1 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform  hover:shadow-sky-200 hover:blur-[1px]"
                  />
                ))}
              </div>
            ) : (
              ""
            )
          }
        </div>
      </div>
      <!--  -->
      <article class="py-8 w-full md:max-w-full lg:max-w-lg">
        <!--  -->
        <div class="py-4">
          <h1
            class="font-heading font-bold capitalize text-3xl sm:text-4xl lg:text-5xl mb-2"
          >
            {name}
          </h1>
        </div>
        <!--  -->
        <div class="py-4">
          <h2 class="font-heading text-xl sm:text-2xl lg:text-3xl">
            Deskripsi Ukm
          </h2>
          <p
            class="text-sm md:text-base font-body md:pe-16 lg:pe-0 text-pretty w-full"
          >
            {description}
          </p>
        </div>
        <!--  -->
        {
          activity.length > 0 ? (
            <div class="py-4">
              <h2 class="font-heading text-xl sm:text-2xl lg:text-3xl">
                Kegiatan Ukm
              </h2>
              <ul>
                {activity.map((data) => (
                  <li class="text-sm md:text-base font-body md:pe-16 lg:pe-0 list-disc ms-6">
                    {data}
                  </li>
                ))}
              </ul>
            </div>
          ) : (
            ""
          )
        }
        {
          sosmed ? (
            <div class="py-4">
              <h2 class="font-heading text-xl sm:text-2xl lg:text-3xl">
                sosial media
              </h2>
              <a href={sosmed} target="_blank">
                instagram
              </a>
            </div>
          ) : (
            ""
          )
        }
      </article>
      <div class="md:hidden">
        {
          galery ? (
            <>
              <h2 class="font-heading text-xl sm:text-2xl lg:text-3xl">
                Galery
              </h2>
              <div class="md:hidden flex flex-wrap gap-2 justify-center py-2">
                {galery.map((src) => (
                  <img
                    src={src}
                    alt="galery ukm"
                    class="img-modal max-w-36 lg:w-fit rounded-lg hover:shadow-sm hover:translate-y-2 transition-all ease-in-out duration-300 ring-1 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform  hover:shadow-sky-200 hover:blur-[1px]"
                  />
                ))}
              </div>
            </>
          ) : (
            ""
          )
        }
      </div>
    </div>
    <!-- modal -->
    <div class="hidden fixed inset-0 backdrop-blur-sm z-50" id="modal"></div>
  </section>
</Layout>

<script>
  const modalContainer = document.getElementById("modal") as HTMLDivElement;
  const modalImages = document.querySelectorAll<HTMLImageElement>(".img-modal");

  function removeModal() {
    modalContainer.innerHTML = "";
    modalContainer.classList.toggle("hidden");
  }

  function modalPopup(src: string): void {
    const modalCard = `
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <img src="${src}" alt="gallery" class="max-w-xs md:max-w-lg lg:max-w-2xl rounded-md ring-4 ring-sky-400 outline-none" />
    <button
      class="absolute -top-12 md:-top-3 -right-6 md:-right-14 px-4 py-2 text-red-600 "
      id="removeModal"
    >
      <i class="fa-regular fa-circle-xmark fa-2x"></i>
    </button>
  </div>`;
    modalContainer.innerHTML += modalCard;
    modalContainer.classList.toggle("hidden");

    const btnModal = document.getElementById(
      "removeModal"
    ) as HTMLButtonElement;
    if (btnModal) {
      btnModal.addEventListener("click", () => removeModal());
    }
  }

  if (modalContainer && modalImages) {
    modalImages.forEach((e) => {
      e.addEventListener("click", () => modalPopup(e.src));
    });
  }
</script>
