---
import { ukm } from "../../data/tentang-unsoed";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Unit Kegiatan Mahasiswa">
  <section
    id="hero"
    class="pt-36 pb-24 bg-dark-base bg-cover text-white-base section-padding-x"
  >
    <div class="container max-w-screen-xl">
      <div class="flex flex-col items-center">
        <div class="lg:flex justify-center items-center flex-col mb-5 sm:mb-10">
          <h1
            class="header-font-size text-center font-heading"
            data-aos="fade-down"
            data-aos-duration="500"
            data-aos-delay=""
            data-aos-easing="ease-in-out"
            data-aos-offset="0"
            data-aos-once="true"
          >
            <span class="text-blue-base">Unit Kegiatan</span>
            Mahasiswa
          </h1>
          <p
            class="mt-5 sm:mt-10 lg:w-10/12 text-gray-500 dark:text-gray-300 font-normal text-justify md:text-center normal-font-size max-w-3xl"
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay=""
            data-aos-easing="ease-in-out"
            data-aos-offset="0"
            data-aos-once="true"
          >
            Unit Kegiatan Mahasiswa atau UKM merupakan wadah bagi para Gensoed
            yang memiliki minat dan bakat tertentu untuk berkumpul, berbagi
            informasi, dan saling membantu untuk meningkatkan kemampuan mereka.
          </p>
        </div>
        <form
          id="search"
          class="rounded-lg flex justify-center gap-2 lg:w-1/2"
          data-aos="fade-up"
          data-aos-duration="500"
          data-aos-delay="200"
          data-aos-easing="ease-in-out"
          data-aos-offset="0"
          data-aos-once="true"
        >
          <div class="relative basis-7/12 md:basis-3/5">
            <input
              class="appearance-none pl-10 border-gray-300 hover:border-gray-400 rounded-md w-full py-2 px-3 text-gray-800 focus:outline-none focus:ring-blue-base focus:border-blue-base focus:shadow-outline border-0 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-xs text-sm md:text-base md:placeholder:text-base focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6 transition-all duration-200 h-full"
              id="searchName"
              type="text"
              name="searchName"
              placeholder="Cari Paguyuban..."
            />
            <div class="absolute left-0 inset-y-0 flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 ml-3 text-gray-400 hover:text-gray-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
            </div>
          </div>
          <select
            id="category"
            name="category"
            class="bg-gray-50 border-2 border-gray-300 text-white-base rounded-lg 2-1/4 focus:ring-blue-base focus:border-blue-500 block px-2 py-2 bg-transparent w-1/2 transition-all duration-200 basis-5/12 md:basis-2/5 text-sm md:text-base"
          >
            <option selected value="" class="text-dark-base">Kategori</option>
            <option value="olahraga" class="text-dark-base">Olahraga</option>
            <option value="keilmuan" class="text-dark-base">Keilmuan</option>
            <option value="keagamaan" class="text-dark-base">Keagamaan</option>
            <option value="seni" class="text-dark-base">Seni</option>
            <option value="beladiri" class="text-dark-base">Beladiri</option>
            <option value="organisasi" class="text-dark-base">Organisasi</option
            >
          </select>
        </form>
      </div>
    </div>
  </section>
  <!--  -->
  <section
    id="ukm-list"
    class="pt-8 md:pt-16 pb-24 section-padding-x bg-[url('/images/patterns/batik.svg')] bg-size"
  >
    <div class="container max-w-screen-xl">
      <!-- mapping cards-->
      <div class="columns-2 md:columns-3 lg:columns-4 md:gap-6" id="cards">
        <!-- card -->
        {
          ukm.map((e) => (
            <Card href={`/ukm/` + e.name} title={e.name} img={e.logo} />
          ))
        }
        <!--  -->
      </div>
    </div>
  </section>
</Layout>
<script>
  import { ukm } from "../../data/tentang-unsoed";
  const search = document.getElementById("search") as HTMLFormElement;
  const cards = document.getElementById("cards") as HTMLDivElement;

  document.addEventListener("DOMContentLoaded", () => {
    if (search) {
      search.addEventListener("submit", (e) => e.preventDefault());
      search.addEventListener("input", (e) => {
        e.preventDefault();
        let data = new FormData(search);
        let searchName = data.get("searchName")?.toString().toLowerCase();
        let searchCategory = data.get("category")?.toString().toLowerCase();

        /* untuk membersihkan child cards */
        cards.innerHTML = "";

        /* 
          mengambil array ukm di filter apakah terdapat dalam input nama dan kategori 
          membuat array baru
        */
        let newData = ukm.filter((data) => {
          let nameMatches = searchName
            ? data.name.toLowerCase().includes(searchName)
            : true;
          let categoryMatches = searchCategory
            ? data.category.toLowerCase() === searchCategory
            : true;
          return nameMatches && categoryMatches;
        });

        newData.forEach((e) => {
          let cardText = `
        <a
        href='/ukm/${e.name}'
        class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white-base hover:ring-2 ring-gray-300 hover:ring-sky-600 transform duration-200 hover:shadow-sky-200 hover:shadow-md group relative overflow-hidden animate-fade-up animate-once animate-duration-[600ms] animate-ease-out"
        >
          <span
            class="absolute -top-20 -left-20 -z-10 h-20 w-20 rounded-full bg-sky-400 transition-all duration-300 group-hover:scale-[15]"
          ></span>
          <div class="flex flex-col break-inside-avoid-page z-0">
            <img src=${e.logo} alt='logo ukm ${e.name}' class="w-full" />
          </div>
          <h2
            class="whitespace-pre-line text-xl md:text-2xl tracking-tight text-dark-base font-heading text-center"
          >
            ${e.name}
          </h2>
        </a>`;
          cards.innerHTML += cardText;
        });
      });
    }
  });
</script>
