---
import { ukm } from "../../data/tentang-unsoed";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Unit Kegiatan Mahasiswa">
  <section id="hero" class="pt-28 bg-slate-300">
    <div class="w-full px-6 text-center py-12">
      <h1
        class="text-3xl lg:text-4xl font-heading font-normal text-dark-base drop-shadow-[0_0px_1px_rgba(0,0,0,0.6)] stroke-10 stroke-green-base"
      >
        UNIT KEGIATAN MAHASISWA
      </h1>
      <a
        href="#cards"
        class="bg-yellow-base px-4 py-2 rounded-lg my-6 inline-block drop-shadow-sm text-base font-medium md:text-base font-body hover:drop-shadow-md"
      >
        Yuk mari kita lihat
        <i class="fa-solid fa-arrow-down mx-1"></i>
      </a>
    </div>
  </section>
  <!--  -->
  <section class="pb-16">
    <div class="flex justify-center w-full relative pt-12">
      <form
        method="get"
        id="search"
        class="bg-green-base mx-6 px-2 py-2 rounded-lg flex justify-center gap-2 absolute -top-7 lg:w-1/2"
      >
        <input
          type="text"
          name="searchName"
          id="searchName"
          placeholder="Cari ukm"
          class="w-full block rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
        <select
          id="category"
          name="category"
          class="bg-gray-50 border-2 border-gray-300 text-white-base text-sm rounded-lg 2-1/4 focus:ring-blue-500 focus:border-blue-500 block px-2 py-2 bg-transparent w-1/2"
        >
          <option selected value="" class="text-dark-base">kategori</option>
          <option value="olahraga" class="text-dark-base">Olahraga</option>
          <option value="keilmuan" class="text-dark-base">Keilmuan</option>
          <option value="keagamaan" class="text-dark-base">Keagamaan</option>
          <option value="seni" class="text-dark-base">seni</option>
          <option value="beladiri" class="text-dark-base">Beladiri</option>
          <option value="organisasi" class="text-dark-base">Organisasi</option>
        </select>
      </form>
    </div>
    <!-- mapping cards-->
    <div
      class="columns-2 md:columns-3 lg:columns-4 md:gap-6 py-2 md:py-4 sm:p-1 mt-2 px-6 sm:px-8 md:px-8 max-w-7xl mx-auto"
      id="cards"
    >
      <!-- card -->
      {
        ukm.map((e) => (
          <Card href={`/ukm/` + e.name} title={e.name} img={e.logo} />
        ))
      }
      <!--  -->
    </div>
  </section>
</Layout>
<script>
  import { ukm } from "../../data/tentang-unsoed";
  const search = document.getElementById("search") as HTMLFormElement;
  const cards = document.getElementById("cards") as HTMLDivElement;

  document.addEventListener("DOMContentLoaded", () => {
    if (search) {
      search.addEventListener("input", (e) => {
        e.preventDefault();
        let data = new FormData(search);
        let searchName = data.get("searchName")?.toString().toLowerCase();
        let searchCategory = data.get("category")?.toString().toLowerCase();

        /* untuk membersihkan child cards */
        cards.innerHTML = "";

        /* 
          mengambil array ukm di filter apakah terdapat dalam input nama dan kategori 
          membuat array baru
        */
        let newData = ukm.filter((data) => {
          let nameMatches = searchName
            ? data.name.toLowerCase().includes(searchName)
            : true;
          let categoryMatches = searchCategory
            ? data.category.toLowerCase() === searchCategory
            : true;
          return nameMatches && categoryMatches;
        });

        newData.forEach((e) => {
          let cardText = `
            <div
            class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white-base hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 group relative">
            <div class="flex flex-col break-inside-avoid-page z-0">
              <img src=${e.logo} alt='logo ukm ${e.name}' class="w-full" />
            </div>
            <h5
              class="whitespace-pre-line text-xl md:text-2xl tracking-tight text-dark-base font-heading text-center">
              ${e.name}
            </h5>
            <a
              href='/ukm/${e.name}'
              class=" group-hover:block lg:hidden lg:absolute backdrop-blur-sm -top-2 right-0 left-0 bottom-0 rounded-lg text-center content-center transition-all ease-in-out duration-500">
              <span class="inline-block mt-0 rounded-lg text-blue-base lg:bg-blue-100 px-1 italic font-jakarta font-bold md:text-sm lg:text-lg text-xs">Lihat Selengkapnya <i class="fa-solid fa-arrow-up-right-from-square"></i></span>
            </a>
          </div>`;
          cards.innerHTML += cardText;
        });
      });
    }
  });
</script>
