---
import { penugasan } from "../../../data/penugasan";
---

<section
  id="penugasan"
  class="section-padding-x pt-16 text-dark-base pb-12 bg-gradient-to-t from-blue-base from-80% to-blue-950 relative z-20"
>
  <div class="container max-w-screen-xl">
    <div class="flex flex-col grid-cols-9 mx-auto md:grid">
      <div class="flex md:contents" id="penugasan-terakhir">
        <div class="relative col-start-5 col-end-6 mr-4 md:mx-auto">
          <div class="flex items-center justify-center w-6">
            <div
              class="w-1 rounded-t-full min-h-48 bg-gradient-to-t from-blue-400 to-transparent"
            >
            </div>
          </div>
        </div>
        <div
          class="relative col-start-6 col-end-10 mr-auto md:max-w-[128px] lg:max-w-[196px] xl:max-w-[]: hidden md:flex items-center"
        >
        </div>
      </div>
      <div class="flex md:contents" id="penugasan-ketiga">
        <div class="relative col-start-5 col-end-6 mr-4 md:mx-auto">
          <div class="flex items-center justify-center w-6 h-full">
            <div class="w-1 h-full bg-blue-400"></div>
          </div>
          <div
            class="absolute w-6 h-6 -mt-3 bg-white-base border-4 border-blue-400 rounded-full top-1/2"
          >
          </div>
        </div>
        <div
          class="relative p-1 mb-16 md:mb-0 md:p-4 rounded-xl col-start-6 col-end-10 mr-auto"
        >
          <img
            src="/images/butterfly-metamorphosis/kepompong.webp"
            alt="Kepompong"
            class="md:block absolute -top-8 -right-6 max-w-20 md:max-w-[128px] lg:max-w-[196px] xl:max-w-[256px] md:mx-auto md:static z-10 md:z-0"
          />
          <div
            class="py-2 px-4 border-[5px] border-blue-400 rounded-2xl bg-sky-50 md:mt-2"
          >
            <h2
              class="font-semibold mb-2 font-heading text-lg sm:text-xl md:text-2xl lg:text-3xl"
            >
              {penugasan.penugasanKetiga.title}
            </h2>
            <ul
              class="list-decimal pl-2 sm:pl-3 md:pl-4 small-font-size text-justify"
            >
              {
                penugasan.penugasanKetiga.description.map((item) => (
                  <li>
                    <strong>{item.type}</strong>
                    <ul class="list-disc pl-4">
                      {item.task.map((task) => (
                        <li>{task}</li>
                      ))}
                    </ul>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="flex md:contents flex-row-reverse" id="penugasan-kedua">
        <div
          class="relative p-1 mb-16 md:mb-0 md:p-4 rounded-xl col-start-1 col-end-5 mr-auto md:ml-auto"
        >
          <img
            src="/images/butterfly-metamorphosis/ulat.webp"
            alt="Ulat"
            class="md:block absolute -top-8 -right-6 max-w-20 md:max-w-[128px] lg:max-w-[196px] xl:max-w-[256px] md:mx-auto md:static z-10 md:z-0"
          />
          <div
            class="relative py-2 px-4 border-[5px] border-blue-400 rounded-2xl bg-sky-50 md:mt-2"
          >
            <h2
              class="font-semibold mb-2 font-heading text-lg sm:text-xl md:text-2xl lg:text-3xl"
            >
              {penugasan.penugasanKedua.title}
            </h2>
            <ul
              class="list-decimal pl-2 sm:pl-3 md:pl-4 small-font-size text-justify"
            >
              {
                penugasan.penugasanKedua.description.map((item) => (
                  <li>
                    <strong>{item.type}</strong>
                    <ul class="list-disc pl-4">
                      {item.task.map((task) => (
                        <li>{task}</li>
                      ))}
                    </ul>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <div class="relative col-start-5 col-end-6 mr-4 md:mx-auto">
          <div class="flex items-center justify-center w-6 h-full">
            <div class="w-1 h-full bg-blue-400 rounded-t-full"></div>
          </div>
          <div
            class="absolute w-6 h-6 -mt-3 bg-white-base border-4 border-blue-400 rounded-full top-1/2"
          >
          </div>
        </div>
      </div>
      <div class="flex md:contents" id="penugasan-pertama">
        <div class="relative col-start-5 col-end-6 mr-4 md:mx-auto">
          <div class="flex items-center justify-center w-6 h-full">
            <div
              class="w-1 h-full from-blue-400 bg-gradient-to-b to-blue-500 border-blue-400"
            >
            </div>
          </div>
          <div
            class="absolute w-6 h-6 -mt-3 bg-white-base border-4 border-blue-400 rounded-full top-1/2"
          >
          </div>
        </div>
        <div
          class="relative p-1 mb-16 md:mb-0 md:p-4 rounded-xl col-start-6 col-end-10 mr-auto"
        >
          <img
            src="/images/butterfly-metamorphosis/telur.webp"
            alt="Telur"
            class="max-w-[196px] xl:max-w-[256px]"
          />
        </div>
      </div>
    </div>
  </div>
  <img
    src="/images/elements/saturnus.webp"
    alt="Planet Saturnus"
    class="hidden opacity-90 md:block absolute md:top-[480px] lg:top-[240px] md:-left-[240px] lg:-left-[360px] md:max-w-[512px] lg:max-w-[768px] z-10"
  />
  <img
    src="/images/elements/jupiter.webp"
    alt="Planet Yupiter"
    class="hidden opacity-90 md:block absolute md:top-[1560px] lg:top-[1440px] md:-right-[240px] lg:-right-[360px] md:max-w-[640px] lg:max-w-[840px] z-10"
  />
  <img
    src="/images/elements/awan-gaje.webp"
    alt="Awan Pokonya"
    class="hidden opacity-90 md:block absolute md:-bottom-[196px] lg:-bottom-[400px] md:-left-[240px] lg:-left-[360px] md:max-w-[512px] lg:max-w-[840px] z-10"
  />
</section>

<script type="text/javascript">
  window.openModal = function (modalId) {
    document.getElementById(modalId).style.display = "block";
    document.getElementsByTagName("body")[0].classList.add("overflow-y-hidden");
  };

  window.closeModal = function (modalId) {
    document.getElementById(modalId).style.display = "none";
    document
      .getElementsByTagName("body")[0]
      .classList.remove("overflow-y-hidden");
  };

  // Close all modals when press ESC
  document.onkeydown = function (event) {
    event = event || window.event;
    if (event.keyCode === 27) {
      document
        .getElementsByTagName("body")[0]
        .classList.remove("overflow-y-hidden");
      let modals = document.getElementsByClassName("modal");
      Array.prototype.slice.call(modals).forEach((i) => {
        i.style.display = "none";
      });
    }
  };
</script>
