---
interface Props {
  title: string;
  body: string;
  href: string;
  img: string;
}

const { href, title, body, img } = Astro.props;
---

<div class="rounded-xl border border-slate-400 drop-shadow-md shadow w-36 md:w-52 lg:w-64">
  <a href={href}>
    <div class="w-36 md:w-52 lg:w-64">
      <img src={img} alt={`foto ${title}`}  class="w-full rounded-t-xl" />
    </div>
    <h5 class="px-2 pt-2 text-xl tracking-tight text-dark-base font-heading">
      {title}
    </h5>
    <p class="px-2 pb-2 text-base text-dark-base font-body font-normal">
      {body}
    </p>
  </a>
</div>
