---
const data = "Soedirman Student Summit";

interface Props {
  img: string;
  direction: "left" | "right";
}

const { img, direction } = Astro.props;
---

<div class="flex overflow-x-hidden bg-dark-base text-white-base">
  <!--  -->
  <div
    class=`py-4 whitespace-nowrap flex min-w-max ${direction == "left" ? "animate-marquee" : "animate-marqueeReverse"}`
  >
    <div class="flex items-center min-w-fit">
      <p class="font-heading text-xl md:text-2xl lg:text-4xl tracking-wide">
        {data}
      </p>
      <img
        src={img}
        alt="logo Soedirman student summit"
        class="block w-8 md:w-10 lg:w-14 mx-4"
      />
    </div>
    <div class="flex items-center min-w-fit">
      <p class="font-heading text-xl md:text-2xl lg:text-4xl tracking-wide">
        {data}
      </p>
      <img
        src={img}
        alt="logo Soedirman student summit"
        class="block w-8 md:w-10 lg:w-14 mx-4"
      />
    </div>
    <div class="flex items-center min-w-fit">
      <p class="font-heading text-xl md:text-2xl lg:text-4xl tracking-wide">
        {data}
      </p>
      <img
        src={img}
        alt="logo Soedirman student summit"
        class="block w-8 md:w-10 lg:w-14 mx-4"
      />
    </div>
    <div class="flex items-center min-w-fit">
      <p class="font-heading text-xl md:text-2xl lg:text-4xl tracking-wide">
        {data}
      </p>
      <img
        src={img}
        alt="logo Soedirman student summit"
        class="block w-8 md:w-10 lg:w-14 mx-4"
      />
    </div>
  </div>
  <div
    class=`py-4 whitespace-nowrap flex min-w-max ${direction == "left" ? "animate-marquee" : "animate-marqueeReverse"}`
  >
    <div class="flex items-center min-w-fit">
      <p class="font-heading text-xl md:text-2xl lg:text-4xl tracking-wide">
        {data}
      </p>
      <img
        src={img}
        alt="logo Soedirman student summit"
        class="block w-8 md:w-10 lg:w-14 mx-4"
      />
    </div>
    <div class="flex items-center min-w-fit">
      <p class="font-heading text-xl md:text-2xl lg:text-4xl tracking-wide">
        {data}
      </p>
      <img
        src={img}
        alt="logo Soedirman student summit"
        class="block w-8 md:w-10 lg:w-14 mx-4"
      />
    </div>
    <div class="flex items-center min-w-fit">
      <p class="font-heading text-xl md:text-2xl lg:text-4xl tracking-wide">
        {data}
      </p>
      <img
        src={img}
        alt="logo Soedirman student summit"
        class="block w-8 md:w-10 lg:w-14 mx-4"
      />
    </div>
    <div class="flex items-center min-w-fit">
      <p class="font-heading text-xl md:text-2xl lg:text-4xl tracking-wide">
        {data}
      </p>
      <img
        src={img}
        alt="logo Soedirman student summit"
        class="block w-8 md:w-10 lg:w-14 mx-4"
      />
    </div>
  </div>
</div>
